
html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

a
{
	display: block !important;
}

.acoes {
    float: right;
    margin-top: -20px;
}

.acoes a {
    display:inline !important;
    margin-left: 10px;
}

.padding {
    margin-top: 25px;
}

.full-height {
    height: 100vh;
}

.flex-center {
/*    align-items: center;*/
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.top-right > * {
    display: inline !important;
}
.content {
	width: 100%;
	margin-top: 50px;
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a, .side-menu > li > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}